body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #0E0E12;
  /* font-family: 'Arimo', sans-serif; */
  font-family: 'Poppins', sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
}



/*************Preloader***/

.preloader-container {
  z-index: 1;
  background-color: #0E0E12;
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}


.loader {
  width: 50px;
  height: 50px;
  border: 5px solid;
  color: rgb(0, 255, 128);
  border-radius: 50%;
  border-top-color: transparent;
  animation: loader 1.2s linear infinite;
}

@keyframes loader {

  25% {
    color: rgb(0, 255, 128);
  }

  50% {
    color: rgb(233, 30, 132);
  }

  75% {
    color: rgb(233, 30, 132);
  }

  to {
    transform: rotate(360deg);
  }
}




/****Navigation***/
nav {
  margin-top: 4rem;
  height: 6rem;
  width: 80vw;
  display: flex;
}

/*Styling logo*/
.logo {
  margin-left: 20rem;
  padding: 1vh 1vw;
  text-align: center;
}

.logo img {
  width: 13rem;
}

/*Styling Links*/
.nav-links {
  display: flex;
  list-style: none;
  width: 40vw;
  padding: 0 0.7vw;
  justify-content: space-evenly;
  align-items: center;
}

.nav-links a {
  color: #738798;
  font-weight: 500;
  transition: .2s;
  font-size: 16px;
}

.nav-links a:hover {
  color: #ffffff;
  border-bottom: 2px solid;
  padding-bottom: 4px;
}

.selected a {
  color: #86d861;
  border-bottom: 2px solid;
  padding-bottom: 4px;
}

/*Styling Buttons*/



#docs {
  /* border: 3px solid #c32177; */
  border-radius: 50px;
  padding: 11px 40px;
  transition: .3s;
  color: #fff;
  /**************Used to make a trasnsition Gradient work**/
  background-image: linear-gradient(90deg,
      rgb(243, 83, 123) 50%,
      #86d861 50%);
  background-size: 209%;
  background-position: left;
  transition: background-position 0.2s ease-in;
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
  transition: .3s;
}

#docs:hover {
  color: #EEF5F8;
  border-color: #2FF0AC;
  background-position: right;
}

/*Styling Hamburger Icon*/
.hamburger div {
  width: 30px;
  height: 3px;
  background: #f2f5f7;
  margin: 5px;
  transition: all 0.3s ease;
}

.hamburger {
  display: none;
}

/*Stying for small screens*/
@media screen and (max-width: 1298px) {
  nav {
    margin-top: -1rem;
  }

  .logo {
    margin-top: 2rem;
    display: block;
    margin-left: 1rem;
  }

  .hamburger {
    display: block;
    position: fixed;
    cursor: pointer;
    right: 5%;
    top: 7%;
    transform: translate(-5%, -50%);
    z-index: 100;
    transition: all 0.3s ease;
  }

  .nav-links {
    z-index: 50;
    position: fixed;
    background: #121218;
    ;
    height: 70vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 10% -20%);
    -webkit-clip-path: circle(50px at 90% -10%);
    transition: all .4s ease-out;
    pointer-events: none;
  }

  .nav-links.open {
    clip-path: circle(1000px at 10% -10%);
    -webkit-clip-path: circle(1000px at 100%);
    pointer-events: all;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.616);
  }

  .nav-links li {
    opacity: 0;
  }

  .nav-links li:nth-child(1) {
    transition: all 0.2s ease 0.2s;
  }

  .nav-links li:nth-child(2) {
    transition: all 0.2s ease 0.4s;
  }

  .nav-links li:nth-child(3) {
    transition: all 0.2s ease 0.6s;
  }

  .nav-links li:nth-child(4) {
    transition: all 0.2s ease 0.7s;
  }

  .nav-links li:nth-child(5) {
    transition: all 0.2s ease 0.8s;
  }

  .nav-links li:nth-child(6) {
    transition: all 0.2s ease 0.9s;
    margin: 0;
  }

  .nav-links li:nth-child(7) {
    transition: all 0.2s ease 1s;
    margin: 0;
  }

  li.fade {
    opacity: 1;
  }
}

/*Animating Hamburger Icon on Click*/
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  transition: all 0.7s ease;
  width: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}



/*******HEADER************/

.header {
  margin-top: 10rem;
  text-align: center;
  font-weight: 900;
  /* position: relative; */
}

.header h1 {
  cursor: text;
  font-size: 50px;
  color: #EEF5F8;
}

.header::after {
  content: "";
  background: url(/static/images/bg1.jpg);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}


.header p {
  cursor: text;
  color: #738798;
  margin-top: 2rem;
  font-size: 20px;
  line-height: 3rem;
  font-weight: 400;
  margin-bottom: 5rem;
}


.header-image {
  text-align: center;
  margin-right: 0rem;
  position: relative;
}

.header-image img {
  margin-top: 5rem;
  width: 40rem;
}


.header p {
  border-right: solid 3px #2FF0AC;
  white-space: nowrap;
  overflow: hidden;
  font-size: 20px;
  color: rgba(255, 255, 255, .70);
  margin: 0 auto;
}

/* Animation */
.header p {
  animation: animated-text 3s steps(29, end) 1s 1 normal both,
    animated-cursor 600ms steps(29, end) infinite;
}

/* text animation */

@keyframes animated-text {
  from {
    width: 0;
  }

  to {
    width: 350px;
  }
}

/* cursor animations */

@keyframes animated-cursor {
  from {
    border-right-color: #2FF0AC;
  }

  to {
    border-right-color: transparent;
  }
}




@media screen and (max-width: 800px) {


  .header h1 {
    font-size: 25px;
  }

  .header p {
    font-size: 18px;
  }

  .header-image img {
    width: 23rem;
  }

  /* Animation */
  .header p {
    animation: animated-text 3s steps(29, end) 1s 1 normal both,
      animated-cursor 600ms steps(29, end) infinite;
  }

  /* text animation */

  @keyframes animated-text {
    from {
      width: 0;
    }

    to {
      width: 330px;
    }
  }
}


@media screen and (max-width: 400px) {

  .header h1 {
    font-size: 22px;
  }

  .header-image img {
    width: 23rem;
  }
}




@media screen and (max-width: 950px) {
  .header-image img {
    width: 18rem;
  }
}


@media screen and (max-width: 390px) {
  .header-image img {
    width: 15rem;
  }

  .header p {
    font-size: 16px;
  }

  /* Animation */
  .header p {
    animation: animated-text 3s steps(29, end) 1s 1 normal both,
      animated-cursor 600ms steps(29, end) infinite;
  }

  /* text animation */

  @keyframes animated-text {
    from {
      width: 0;
    }

    to {
      width: 300px;
    }
  }


}


@media screen and (max-width: 300px) {
  .header-image img {
    width: 12rem;
  }
}

@media screen and (max-width: 250px) {
  .header-image img {
    width: 8rem;
  }
}

/*******WWD SECTION*******/

.wwd {
  text-align: center;
}

.wwd h2 {
  margin-top: 20rem;
  color: #EEF5F8;
  font-size: 25px;
  font-weight: 500;
  border-bottom: 4px solid #2FF0AC;
  display: inline-block;
  padding-bottom: 5px;
  letter-spacing: 5px;
  transition: .3s;
}

.wwd h2:hover {
  border-bottom: dashed 4px #5A27D2;
}


.wwd-section {
  gap: 4rem;
  margin-top: 5rem;
  justify-content: center;
  text-align: center;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px;
}

.wwd-section img {
  width: 6rem;
}
.wwd-item img{
  transition: all ease 0.3s;
}
.wwd-item:hover img{
  transform: translateY(-30px);
}

.wwd-section h5 {
  white-space: nowrap;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 20px;
  margin-top: 2rem;
  color: #ffffff;
}


.wwd-section p {
  text-align: center;
  font-size: 18px;
  margin-top: 1rem;
  color: #738798;
  /***Used to make the paragraph 2 lines maximum.***/
  overflow: hidden;
  width: 12em;
  line-height: 1.5em;
  height: 3em;
}


@media screen and (max-width: 1280px) {


  .wwd-section {
    grid-template-columns: 200px 200px 200px 200px;
  }

}

@media screen and (max-width: 997px) {


  .wwd-section {
    grid-template-columns: 200px 200px 200px;
  }

}

@media screen and (max-width: 760px) {


  .wwd-section {
    grid-template-columns: 200px 200px;
  }

}

@media screen and (max-width: 515px) {

  .logo img {
    width: 18rem;
  }

  .wwd-section {
    grid-template-columns: 200px;
    text-align: center;
  }

  .wwd-section img {
    width: 5rem;
  }

  .wwd-section h5 {
    font-size: 20px;
  }

  .wwd-section p {
    text-align: center;
    font-size: 17px;
  }
}

@media screen and (max-width: 400px) {
  .logo {
    margin-top: 2rem;
    margin-left: 5px;
  }

  .logo img {
    width: 15rem;
  }
}


/***********************Knowledge*******************/
.knowledge {
  margin-top: 10rem;
  color: #EEF5F8;
  text-align: center;
}

.knowledge h2 {
  color: #EEF5F8;
  font-size: 25px;
  font-weight: 500;
  border-bottom: 4px solid #ffa237;
  display: inline-block;
  padding-bottom: 5px;
  transition: .3s;
}

.knowledge h2:hover {
  border-bottom: dashed 4px #5A27D2;
}

.focus-container {
  margin-top: 10rem;
  text-align: center;
}

.focus {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  justify-content: center;
  margin-bottom: 10rem;
}

.focus h3 {
  font-size: 35px;
  color: #EEF5F8;
  margin-left: 10rem;
}

.focus p {
  font-size: 20px;
  color: #738798;
  margin-left: 10rem;
}

.focus h3,
.focus p {
  padding-left: 5rem;
  text-align: left;
}


@media screen and (max-width: 950px) {

  .focus-container {
    margin-top: 1rem;
    text-align: center;
    padding: 2rem;
  }

  .focus {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    text-align: center;
    margin-bottom: 5rem;
  }

  .focus img {
    width: 25rem;
  }

  .focus h3 {
    font-size: 25px;
    color: #EEF5F8;
    margin-left: 0rem;
  }

  .focus p {
    font-size: 20px;
    color: #738798;
    margin-left: 0rem;
  }

  .focus h3,
  .focus p {
    padding-left: 0rem;
    text-align: center;
  }
}

@media screen and (max-width: 515px) {
  .focus {
    margin-bottom: 2rem;
  }

  .focus img {
    width: 20rem;
  }

  .focus h3 {
    font-size: 20px;
  }

  .focus p {
    font-size: 18px;
  }
}


@media screen and (max-width: 490px) {
  .focus img {
    width: 15rem;
  }
}

/*****************************/

.worldmap {
  margin-top: 5rem;
  text-align: center;
}

.worldmap h2 {
  color: #EEF5F8;
  font-size: 25px;
  font-weight: 500;
  border-bottom: 4px solid #3c97ff;
  display: inline-block;
  padding-bottom: 5px;
  transition: .3s;
}

.worldmap h2:hover {
  border-bottom: dashed 4px #5A27D2;
}


.worldmapsvg {
  text-align: center;
  margin-bottom: 10rem;
}


.worldmapsvg img {
  width: 55rem;
}



@media screen and (max-width: 950px) {
  .worldmapsvg img {
    width: 40rem;
  }
}

@media screen and (max-width: 650px) {
  .worldmapsvg img {
    width: 25rem;
  }
}

@media screen and (max-width: 450px) {
  .worldmapsvg img {
    width: 20rem;
  }
}


@media screen and (max-width: 390px) {
  .worldmapsvg img {
    width: 15rem;
  }
}

@media screen and (max-width: 300px) {
  .worldmapsvg img {
    width: 13rem;
  }
}

@media screen and (max-width: 250px) {
  .worldmapsvg img {
    width: 10rem;
  }
}


/***************************************************/



.footer {
  background-color: #121218;
  height: 15rem;
  text-align: center;
}

.footer svg {
  margin-top: 1rem;
}

svg:hover #tab {
  /**When SVG is hovered, change the specific path*/
  transition: 0.3s;
  fill: #f0377e;
}

.footer h3 {
  color: #738798;
  font-weight: 500;
}

.footer h1 {
  font-size: 18px;
  color: aquamarine;
  font-weight: 500;
}




@media screen and (max-width: 450px) {
  .footer h3 {
    font-size: 15px;
    font-weight: 900;
  }


  .footer h1 {
    font-size: 14px;
    color: #8bfd9a;
    font-weight: 900;
    font-family: monospace;
  }

  .footer svg {
    width: 3rem;
  }

  .footer {
    height: 14rem;
  }
}

/*****************Animations***********/



.header-image {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}




.header h1 {
  -webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}


@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}



::-webkit-scrollbar {
  display: none;
}

::selection {
  background: rgb(72, 255, 163);
  color: black;
}



/********Pages Header***/


.pages-header {
  margin-top: 10rem;
  text-align: center;
  color: #EEF5F8;
  font-size: 20px;
}

.pages-container {
  margin-left: 20rem;
  margin-right: 20rem;
  padding: 18px;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.pages-container p {
  color: #738798;
  margin-bottom: 5rem;
  overflow-wrap: break-word;
  font-size: 18px;
  line-height: 30px;
}

.pages-container h2 {
  color: #EEF5F8;
}


.pages-container ul {
  text-align: center;
}


.pages-container li {
  margin: 1rem 5rem 1rem 5rem;
  list-style: none;
  display: inline-block;
}

.pages-container li img {
  width: 4rem;
}

@media screen and (max-width: 1281px) {

  .pages-container {
    margin-left: 10rem;
    margin-right: 10rem;
  }
}

@media screen and (max-width: 905px) {

  .pages-container {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}

@media screen and (max-width: 711px) {
  .pages-container {
    margin-left: 0rem;
    margin-right: 1rem;
  }

  .pages-container p {
    color: #738798;
    margin-bottom: 5rem;
    overflow-wrap: break-word;
    font-size: 18px;
    line-height: 30px;
  }

  .pages-container h2 {
    color: #EEF5F8;
    font-size: 25px;
  }

  .pages-header {
    font-size: 20px;
  }

  .pages-container li {
    margin: 3rem 1rem 4rem 1rem;
    list-style: none;
    display: inline-block;
  }

  .pages-container li img {
    width: 2rem;
  }
}

@media screen and (max-width: 400px) {
  .pages-header {
    font-size: 15px;
  }
}










.background {
  padding: 0 25px 25px;
  position: relative;
  width: 100%;
}

.background::after {
  content: '';
  height: 350px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

@media (min-width: 900px) {
  .background {
    padding: 0 0 25px;
  }
}

.container {
  margin: 0 auto;
  padding: 50px 0;
  max-width: 1000px;
  width: 100%;
}

.panel {
  border: rgb(168, 168, 168) solid 2px;
  border-radius: 10px;
  padding: 15px 25px;
  position: relative;
  width: 100%;
  z-index: 10;
}

.pricing-table {
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);
  display: flex;
  flex-direction: column;
}

@media (min-width: 900px) {
  .pricing-table {
    flex-direction: row;
  }
}

.pricing-table * {
  text-align: center;
  text-transform: uppercase;
}

.pricing-plan {
  border-bottom: 1px solid #ffffff;
  padding: 25px;
}

.pricing-plan:last-child {
  border-bottom: none;
}

@media (min-width: 900px) {
  .pricing-plan {
    border-bottom: none;
    border-right: 1px solid #ffffff;
    flex-basis: 100%;
    padding: 25px 50px;
  }

  .pricing-plan:last-child {
    border-right: none;
  }
}

.pricing-img {
  margin-bottom: 25px;
  max-width: 100%;
}

.pricing-header {
  color: #888;
  font-weight: 600;
  letter-spacing: 1px;
}

.pricing-features {
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 50px 0 25px;
}

.pricing-features-item {
  border-top: 1px solid #e1f1ff;
  font-size: 12px;
  line-height: 1.5;
  list-style: none;
  padding: 15px 0;
}

.pricing-features-item:last-child {
  border-bottom: 1px solid #e1f1ff;
}

.pricing-price {
  color: #6d33f6;
  display: block;
  font-size: 52px;
  font-weight: 700;
}

.pricing-button {
  border-radius: 100px;
  color: #86d861;
  display: inline-block;
  margin: 25px 0;
  min-width: 100px;
  font-size: 17px;
  letter-spacing: 2px;
  font-weight: 600;
  padding: 15px 35px;
  text-decoration: none;
  transition: all 150ms ease-in-out;
  border: 2px solid #86d861;
}

.pricing-button:hover,
.pricing-button:focus {
  background-color: #86d861;
  color: #fff;
}

.pricing-button.is-featured {
  background-color: #86d861;
  color: #fff;
}

.pricing-button.is-featured:hover,
.pricing-button.is-featured:active {
  background-color: #86d861;
}