{% extends 'base.html' %}


{% block content %}

<!--Header-->

<div class="pages-header">
    <h2>About Us</h2>
</div>

<div class="pages-container">
    <h2>Who Are We:</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem voluptates sit, minus modi distinctio
        blanditiis suscipit placeat necessitatibus, aspernatur labore, porro dignissimos deleniti vitae quod? Iure
        sed quo eaque inventore asperiores dolorem, nisi quidem cumque sequi quibusdam optio totam dolores
        reprehenderit ratione nesciunt laudantium mollitia praesentium itaque, odit repellat impedit!

    </p>
    <h2>What We Provide:
    </h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, voluptate. Accusamus quas quasi ipsa
        quaerat. Nisi vero minus nihil repellendus debitis. Ipsa, a minus. Blanditiis, adipisci impedit facilis
        assumenda aspernatur ipsum nobis reprehenderit minus odit optio expedita labore quo. Maxime ea, fugit
        nesciunt cum exercitationem numquam cumque nostrum iure optio.
    </p>

</div>

{% endblock %}