{% extends 'base.html' %}


{% block content %}
<!--Header-->

<div class="header">
    <h1>Risk Management System.</h1>
    <p><span style="color: rgb(79, 141, 255);">Assessment</span>, <span
            style="color: rgb(255, 90, 145);">Justification</span>,
        <span style="color: #2FF0AC;">Monitoring</span>.
        <!-- </p>
        <div class="header-image">
            <img alt="abs" src="images/1.svg">
        </div> -->
</div>


<div class="wwd">
    <h2>Features</h2>
</div>

<div class="wwd-section">


    <div class="wwd-item">
        <a href="">
            <img src="/static/images/3.svg" alt="">
            <h5>Planning</h5>
            <p>Plan You're Asset-Based Risk Assessment.</p>
        </a>
    </div>


    <div class="wwd-item">
        <a href="">
            <img src="/static/images/8.svg" alt="">
            <h5>Idenitification</h5>
            <p>Identify Threats and Vulnerabilities.</p>
        </a>
    </div>

    <div class="wwd-item">
        <a href="">
            <img src="/static/images/9.svg" alt="">
            <h5>Tracking</h5>
            <p>Real-Time Status Indicators.</p>
        </a>
    </div>

    <div class="wwd-item">
        <a href="">
            <img src="/static/images/11.svg" alt="">
            <h5>Automation</h5>
            <p>Generate Reports Within Seconds.</p>
        </a>
    </div>


    <div class="wwd-item">
        <a href="">
            <img src="/static/images/15.svg" alt="">
            <h5>Grading</h5>
            <p>Treat, Eliminate and Control Risks.</p>
        </a>
    </div>
</div>
<!--Focus-->
<div class="knowledge">
    <h2>Choose a Package</h2>
</div>



<div class="background">
    <div class="container">
        <div class="panel pricing-table">

            <div class="pricing-plan" id="buy_cont">
                <img src="/static/images/2.svg" alt="" class="pricing-img">
                <h2 class="pricing-header">PERSONAL</h2>
                <ul class="pricing-features">
                    <li class="pricing-features-item">Light Weight VBA Risk Management Tool</li>
                    <li class="pricing-features-item">1 User at a time</li>
                </ul>
                <span class="pricing-price">Free</span>
                <a href="/static/sheet/test.xlsx" download="sheet.xlsx" class="pricing-button">Download .XLSM</a>
            </div>

            <div class="pricing-plan">
                <img src="/static/images/14.svg" alt="" class="pricing-img">
                <h2 class="pricing-header">CORPORATE</h2>
                <ul class="pricing-features">
                    <li class="pricing-features-item">Browser Application Risk Management Tool</li>
                    <li class="pricing-features-item">Multiple Users at a time</li>
                </ul>
                <span class="pricing-price">$150</span>
                <a href="#/" class="pricing-button is-featured">BUY</a>
            </div>


        </div>
    </div>
</div>






<div class="worldmap">
    <h2>Deployed From Prince Sultan University</h2>
</div>
<div class="worldmapsvg">
    <img src="/static/images/WorldMap.svg" alt="world">
</div>

{% endblock %}